[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/pack/vender/start/auto-pairs"]
	path = vim/pack/vender/start/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "vim/pack/vender/start/ale"]
	path = vim/pack/vender/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/vender/start/nerdtree"]
	path = vim/pack/vender/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/vender/start/vim-polyglot"]
	path = vim/pack/vender/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
