.DS_Store
*automatic_backups*

config/Jackett/
config/qbittorrent/
config/black
config/.mono/
config/configstore/
config/poplar-cli/
config/stripe/
config/gatsby
config/grammarly-languageserver

github-copilot/
config/rclone/
